imageio==2.22.1
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.4.4
matplotlib==3.6.0
numpy==1.24.2
olefile==0.46
opencv-python==4.7.0.68
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pip==22.1.2
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
requests==2.27.1
scikit-image==0.19.3
scipy==1.9.3
setuptools==61.2.0
thop==0.1.1.post2209072238
tifffile==2022.8.12
torch==1.12.1
torchaudio==0.12.1
torchinfo==1.7.2
torchstat==0.0.7
torchvision==0.13.1
tqdm==4.62.3
transformers==2.1.1
typing_extensions==4.3.0
urllib3==1.26.8
wheel==0.37.1